Source: stranslate
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: utils

Package: stranslate
Version: 1.0
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: all
Depends: curl
Description: Translate text from your terminal using a privacy-friendly backend
 stranslate translates text from your terminal using a privacy-friendly backend
